<p>Добро пожаловать в чат {{name}},</p>
<p>Пожалуйста введите ключ для подтверждения почты в открывшемся окне, или после
  перехода по ссылке</p>
<p><h2>{{key}}</h2></p>
<p>
  <a href='{{url}}'>Ссылка подтверждения</a>
</p>

<p>Если вы не запрашивали это письмо, вы можете смело его игнорировать.</p>